<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>新增排班</title>
<link rel="stylesheet" href="/layui/css/layui.css" media="all">
<link rel="stylesheet" type="text/css" href="/layui/formSelects-v4.css"/>
<style>
.layui-form-label{
	width: 100px;
}
.xm-select-parent{
	width: 500px;
}
</style>
</head>
<body>
<form class="layui-form" action="" lay-filter="formData">
<input type="hidden" id="YM">
<input type="hidden" id="monthId">
<br>
   <div class="layui-card layui-padding-15 layui-margin-50 auto-height">
   <div class="layui-form-item">
	    <label class="layui-form-label">排班月份：</label>
	    <div class="layui-input-inline">
	      <input type="text" readonly placeholder="yyyy-MM" name="yearMonth" id="yearMonth" lay-verify="required|yearMonth" autocomplete="off" class="layui-input" width="60px">
	    </div>
	  </div>
	  <div class="layui-form-item">
	    <label class="layui-form-label">需值班天数：</label>
	    <div class="layui-input-inline">
	      <input type="text" readonly placeholder="值班天数" name="dayNum" id="dayNum" lay-verify="required" autocomplete="off" disabled class="layui-input" width="60px">
	    </div>
	  </div>
	  <div class="layui-form-item">
	    <label class="layui-form-label">参与值班人员：</label>
	    <div class="layui-input-inline">
	    	<select name="dayName" xm-select="dayName" xm-select-search xm-select-max="31" lay-verify="required">
			</select>
	    <!-- <select style="height:100px;" name="dayName" lay-filter="dayName" id="dayName" lay-verify="required" multiple lay-search lay-tools>
    	  <option value="">请选择您的兴趣爱好</option>
    	  <option>sing1</option>
          <option>sing2</option>
    	  <option>SING1-大写</option>
     	  <option>movie1</option>
    	  <option>movie2</option>
    	  <option>movie3</option>
    	  <option>MOVIE4</option>
    	  <option>swim</option>
    	  <option>moon</option>
		</select> -->
          <!-- <div class="layui-input multiple lay-tools">
	      	<i class="layui-edge"></i>
	      </div> -->
	      <!-- <select name="select_base_cityname" id="select_base_cityname" lay-filter="select_base_cityname" xm-select="select_base_cityname" xm-select-type="1"></select> -->
	      <!-- <textarea type="text" placeholder="值班人员" name="dayName" id="dayName" lay-verify="required" autocomplete="off" class="layui-input" style="height:150px;"></textarea> -->
	      <!-- <a href="#" class="layui-btn layui-btn-xs layui-btn-disabled" disabled=true id="addUser">添加人员</a> -->
	      	已选：<span id="selected" style="color:red;">0</span>/<span id="should" style="color:red;">0</span>
	    </div>
	    
	  </div>
	  <div class="layui-tools">
       <a href="#" class="layui-btn layui-btn-sm" lay-submit style="margin-left:20px;width:70px;"><i class="layui-icon layui-icon-ok"></i>保存</a>
   	  </div>
   </div>
</form>
<script type="text/javascript" src="/layui/layui.js"></script>
<script src="/layui/formSelects-v4.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="/js/schedule_add.js"></script>
</body>
</html>