<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>排班列表</title>
<link rel="stylesheet" href="/layui/css/layui.css" media="all">
</head>
<body>
<div class="form-search-con layui-bg-white layui-fluid">
<input type="hidden" id="YM">
	<div class="layui-row layui-col-md-offset2">
		<form class="layui-form" id="searchForm" autocomplete="off">
   		<br>
	   	  <div class="layui-form-item">
	   	  	<div class="layui-col-md4">
	   	  		<label class="layui-form-label">月份：</label>
		    	<div class="layui-input-inline">
		      		<input type="text" readonly class="layui-input" placeholder="yyyy-MM" id="yearMonth" name="yearMonth">
		    	</div>
	   	  	</div>
		    <div class="layui-col-md4">
		    	<label class="layui-form-label">姓名：</label>
		    	<div class="layui-input-inline">
		      		<input type="text" placeholder="姓名" name="userName" autocomplete="off" class="layui-input" width="60px">
		    	</div>
		    </div>
		    <div class="layui-col-md4">
		    	<button type="button" class="layui-btn" lay-submit lay-filter="SearchForm">查询</button>
		    </div>
		  </div>
		</form>
	</div>  		
</div>
<table class="layui-table" lay-data="{height:500, url:'/dutyList/listAll',id:'class', defaultToolbar: []}" lay-filter="class">
  <thead>
    <tr>
      <th lay-data="{type:'numbers', width:80}">序号</th>
      <th lay-data="{field:'dutyDate',align:'center', width:150}">值班日期</th>
      <th lay-data="{field:'userName',align:'center', width:150}">值班人</th>
      <th lay-data="{field:'tel',align:'center'}">手机号码</th>
      <th lay-data="{field:'job',align:'center'}">职务</th>
    </tr>
  </thead>
</table>
<script type="text/javascript" src="/layui/layui.js"></script>
<script type="text/javascript" src="/js/schedule_list.js"></script>
</body>
</html>