.headDiv {
    float: right;
    position: fixed;
    width: 20%;
    right: 0;
    padding-right: 10px;
}
.headDiv img{
    width: 110px;
    height: 100px;
    margin-bottom: 10px;
}
.eye {
    cursor: pointer;
    float: right;
    margin-right:180px;
    display:none;
    margin-top: 5px;
}
.eye img{
    width: 30px;
    height: 30px;
}