<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>登录</title>
<link rel="stylesheet" href="/layui/css/layui.css" media="all">
<link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<style>
	#main{width:400px;height:330px;background-color:white;float:right;margin-right:500px;margin-top:90px;}
	.layui-form-item{margin-top:30px;}
</style>
<body>
<h1 style="text-align:center">学生信息管理系统v1.0</h1>
<hr>
<div id="main" class="layui-bg-gray">
    <form class="layui-form">
    	<div class="layui-form-item">
    		<label class="layui-form-label layui-icon layui-icon-username"></label>
    		<div class="layui-input-inline">
      			<input type="text" name="loginName" id="loginName" required lay-verify="required" placeholder="请输入登录名" autocomplete="off" class="layui-input">
    		</div>
    	</div>
    	<div class="layui-form-item">
    		<label class="layui-form-label layui-icon layui-icon-password"></label>
    		<div class="layui-input-inline">
      			<input type="password" name="password" id="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
    		</div>
    	</div>
    	<div class="layui-form-item">
    		<label class="layui-form-label layui-icon layui-icon-vercode"></label>
    		<div class="layui-input-inline">
    			<canvas id="canvas" width="90" height="38" style="cursor: pointer;float:right;"></canvas>
    			<input id="code" type="text" style="width:100px;" value="" placeholder="请输入验证码" class="layui-input">
    		</div>
    	</div>
    	<div class="layui-form-item">
    		<div class="layui-input-block">
    			<button class="layui-btn" style="width:190px;" lay-submit lay-filter="login">登录</button>
    		</div>
  		</div>
    </form>
</div>
<script type="text/javascript" src="/layui/layui.js"></script>
<script type="text/javascript" src="/js/login.js"></script>
</body>
</html>