<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.student.dao.CollegeInfoDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.project.student.domain.CollegeInfo">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="year" property="year" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="last_update_time" property="lastUpdateTime" />
        <result column="last_update_by" property="lastUpdateBy" />
    </resultMap>
    <!-- 分页列表查询映射结果 -->
    <resultMap id="BaseResultPageMap" type="com.project.student.domain.CollegeInfo" extends="BaseResultMap">

    </resultMap>
    <select id="listPagedCollege" resultMap="BaseResultPageMap">
        select * from college_info a
        <where>
            1 = 1
            <if test="name != '' and name != null">
                <bind name="name_pattern" value="'%' + name + '%'"/>
                and a.name like #{name_pattern}
            </if>
            <if test="year != '' and year != null">
                and a.year = #{year}
            </if>
        </where>
    </select>
    <select id="getAllYear" resultMap="BaseResultMap">
        select distinct a.year from college_info a order by a.year desc
    </select>
</mapper>
