<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.student.dao.StudentInfoDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.project.student.domain.StudentInfo">
        <id column="id" property="id" />
        <result column="major_id" property="majorId" />
        <result column="name" property="name" />
        <result column="sex" property="sex" />
        <result column="school_number" property="schoolNumber" />
        <result column="birthday" property="birthday" />
        <result column="identity" property="identity" />
        <result column="place" property="place" />
        <result column="nation" property="nation" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="last_update_time" property="lastUpdateTime" />
        <result column="last_update_by" property="lastUpdateBy" />
    </resultMap>
    <!-- 分页列表查询映射结果 -->
    <resultMap id="BaseResultPageMap" type="com.project.student.domain.StudentInfo" extends="BaseResultMap">
        <result column="major_name" property="majorName" />
        <result column="college_name" property="collegeName" />
        <result column="year" property="year" />
    </resultMap>
    <select id="listPagedStudent" resultMap="BaseResultPageMap">
        select a.*,b.name major_name,c.name college_name,c.year from student_info a
        inner join major_info b on a.major_id = b.id
        inner join college_info c on b.college_id = c.id
        <where>
            1 = 1
            <if test="majorName != '' and majorName != null">
                <bind name="majorName_pattern" value="'%' + majorName + '%'"/>
                and c.name like #{majorName_pattern}
            </if>
            <if test="collegeName != '' and collegeName != null">
                <bind name="collegeName_pattern" value="'%' + collegeName + '%'"/>
                and b.name like #{collegeName_pattern}
            </if>
            <if test="name != '' and name != null">
                <bind name="name_pattern" value="'%' + name + '%'"/>
                and a.name like #{name_pattern}
            </if>
            <if test="year != '' and year != null">
                and c.year = #{year}
            </if>
        </where>
    </select>
</mapper>
